.text-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #505050;
}

.ant-modal {
  height: -webkit-fill-available;
  max-width: 100vw;
}

.modal-style {
  height: 100%;
  top: 0;
  overflow: auto;
}

.modal-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.payment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 440px;
}

.inputs-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.select-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 440px;
}
.default-text {
  color: #141414;
}

.pay-inner {
  height: 44px;
  padding: 8px 16px;
  border-radius: 4px;
  width: 100%;
  background: #6159ff;
  color: #fff;
}

.add-payment-inner {
  width: 136px;
  height: 30px;
  padding: 6px 8px 6px 12px;
  border-radius: 2px;
  border: 1px solid #505050;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  color: #141414;
}

.payment-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.remark-text {
  color: #505050;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.plus-icon {
  font-size: 10px;
  color: #141414;
  align-self: center;
}

.title-next {
  display: flex;
  justify-content: space-between;
}

.delete-payment {
  margin-top: 8px;
  border: none;
}

.input-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #8c8c8c;
}
