$mobile: 320px;
$tablet: 768px;
$s: 1024px;
$m: 1280px;
$l: 1440px;
$xl: 1920px;
$xxl: 2560px;

.left-sider-wrapper {
  background-color: #fff;
  width: 200px;
  border-right: 1px solid #d9d9d9;
}

.left-sider-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-sider-menu-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.left-sider-menu {
  margin: 0 16px 0 30px;
}

.right-sider-wrapper {
  background-color: #fff;
  border-left: 1px solid #d9d9d9;
  padding: 20px 24px;
}

.heading-text {
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: -1px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 35px 40px 0px 240px;
  gap: 24px;
}

.logo-inner {
  max-height: 64px;
}

.remark-wrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  min-height: 42px;
  gap: 4px;
}

.remark-button {
  border-radius: 4px;
  background: #6159ff;
  color: #fff;
  height: 100%;
  width: 220px;
}

.remark-text {
  display: flex;
  padding: 12px 13px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    67.21deg,
    #f0f0ff 0%,
    rgba(245, 245, 245, 0.45) 100%
  );
  flex-grow: 1;
}

.logo-item {
  margin: 20px 40px;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  gap: 16px;
}

.card-item {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  min-width: 216px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 162px;
}

.card-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 16px;
  font-size: 12px;
}

.taxes-heading {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.taxes-button {
  height: 26px;
  border-radius: 2px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 16px;
}

.button-paid {
  width: 94px;
}

.list-item {
  border: none;
}

.income-header-wrapper {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  gap: 8px;
}

.datepicker-item {
  max-width: 300px;
}

.account-select {
  flex-grow: 1;
  max-width: 300px;
  min-width: 200px;
}

.operation-select {
  width: 300px;
}

.currency-amount {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}

.card-fix {
  background: #fff4ea;
}

.card-super {
  background: #ecf6ee;
}

.link-details {
  color: #6159ff;
  cursor: pointer;
}

.income-table {
  display: flex;
  flex-direction: column;
}

.sider-buttons {
  display: flex;
  gap: 8px;
}

.default-button {
  border-radius: 2px;
  width: 100%;
  color: #6159ff;
  border: 1px solid #d1d1d1;
  text-align: center;
}

.non-source-button {
  border-radius: 2px;
  max-width: 250px;
  background-color: #6159ff;
  color: #ffffff;

  border: 1px solid #d1d1d1;
  text-align: center;
}

.plus-icon {
  font-size: 10px;
  color: #6159ff;
  align-self: center;
}

.plus-non-icon {
  font-size: 10px;
  color: #fff;
  align-self: center;
}

.list-item-right {
  display: flex;
  justify-content: space-between;
}

.table-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4px 8px;
  gap: 2%;
}

.table-header-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #8c8c8c;
  &:first-child {
    width: 50%;
  }

  &:nth-child(2) {
    width: 16%;
  }
  &:nth-child(3) {
    width: 28%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.table-date-row {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #6159ff;
  padding: 12px 8px;
}

.table-info-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2%;
  &:hover {
    background-color: #f0f0ff;
  }
}

.source-inner {
  width: 48%;
  padding: 13px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.operation-type-inner {
  width: 20%;
  padding: 13px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.source-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #141414;
}

.source-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #8c8c8c;
}

.currency-income {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #141414;
}

.type-inner {
  padding: 4px 12px;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.type-inner-select {
  padding: 2px 6px;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.type-text-select {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.type-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  @media screen and (min-width: $xl) {
    font-size: 16px;
  }
}

.type-income {
  background: #fff7e6;
  color: #f9951a;
  padding-right: 10px;
}

.type-back {
  background: #ecf9ff;
  color: #158fe8;
  padding-right: 10px;
}

.type-non {
  background: #f0f0f0;
  color: #505050;
  padding-right: 10px;
}

.type-taxes {
  background: #f6ffed;
  color: #389e0d;
  padding-right: 10px;
}

.amount-inner {
  width: 24%;
  display: flex;
  align-items: flex-end;
  padding: 13px 8px;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.amount-part {
  transition: margin-right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount-inner:hover .amount-part {
  margin-right: 50px;
}

.delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: none;
}

.amount-inner:hover .delete-icon {
  opacity: 1;
}

.source-name {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.source-text-left {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #141414;
  max-width: 140px;
}

.source-text-right {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;

  color: #8c8c8c;
}

.non-taxes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.non-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.non-wrapper {
  width: 50%;
  text-align: center;
}

.source-account-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: #8c8c8c;
}

.type-select-inner {
  width: 100%;
}

.title-button-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-make {
  border: 1px solid #9984ff;
  color: #9984ff;
  border-radius: 0;
  display: flex;
  align-items: center;
}

.left-source-name {
  display: flex;
  gap: 10px;
  align-items: center;
}
