.type-item-select .ant-select-selector {
  border: none !important;
  padding: 0 !important;
  border-radius: 100px !important;
}

.type-item-select .ant-select-selection-item {
  border: none !important;
  padding-inline-end: 0px !important;
}

.type-item-select .ant-select-selector .ant-select-selection-search-input {
  padding: 0 !important;
}

.filter-collapse .ant-collapse-content-box {
  padding: 0 !important;
}

.taxes-drawer .ant-drawer-content-wrapper {
  width: 100% !important;
}

.taxes-drawer .ant-drawer-header {
  border: none !important;
}

.taxes-drawer .ant-drawer-body {
  padding-top: 0 !important;
}

.hide-sources .ant-collapse-header {
  width: 160px;
  padding-bottom: 0 !important;
}

.hide-sources .ant-collapse-header-text {
  width: 130px;
}
.hide-sources .ant-collapse-content-box {
  padding: 0;
}
