.type-item-select .ant-select-selector {
  border: none !important;
  padding: 0 !important;
}

.type-item-select .ant-select-selection-item {
  border: none !important;
  padding: 8px !important;
}

.type-item-select .ant-select-selector .ant-select-selection-search-input {
  padding: 0 !important;
}
