.left-sider-wrapper {
  background-color: #fff;
  width: 200px;
  border-right: 1px solid #d9d9d9;
}

.left-sider-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-sider-menu-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.left-sider-menu {
  margin: 0 16px 0 30px;
}

.right-sider-wrapper {
  background-color: #fff;
  border-left: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 16px;
}

.heading-text {
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: -1px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 35px 40px 0px 240px;
  gap: 24px;
}

.logo-inner {
  max-height: 64px;
}

.remark-wrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  height: 42px;
  gap: 4px;
}

.remark-button {
  border-radius: 4px;
  background: #6159ff;
  color: #fff;
  height: 100%;
  max-width: 143px;
}

.remark-text {
  display: flex;
  padding: 12px 13px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    67.21deg,
    #f0f0ff 0%,
    rgba(245, 245, 245, 0.45) 100%
  );
  flex-grow: 1;
}

.logo-item {
  margin: 20px 40px;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  gap: 16px;
}

.card-item {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  min-width: 216px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 162px;
}

.card-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 16px;
  font-size: 12px;
}

.taxes-heading {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.amount-inner {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.taxes-button {
  height: 26px;
  border-radius: 2px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 16px;
}

.button-paid {
  width: 94px;
}

.list-item {
  border: none;
}

.income-header-wrapper {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
  justify-content: space-between;
  gap: 8px;
}

.datepicker-item {
  width: 240px;
}

.account-select {
  flex-grow: 1;
}

.operation-select {
  width: 155px;
}

.currency-amount {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}

.card-fix {
  background: #fff4ea;
}

.card-super {
  background: #ecf6ee;
}

.link-details {
  color: #6159ff;
  cursor: pointer;
}

.income-table {
  display: flex;
  flex-direction: column;
}

.sider-buttons {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.default-button {
  border-radius: 2px;
  border: 1px solid #9984ff;
  color: #6159ff;
}

.list-item-right {
  display: flex;
  justify-content: space-between;
}

.row-item {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  min-height: 178px;
  padding: 32px 0px 32px 0px;
  border-radius: 4px;
}

.row-inner {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.row-item-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.info-heading {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info-part {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 40%;
}

.title-style {
  margin: 0;
}

.amount-part {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.amount-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.amount-paid-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.amount-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #8c8c8c;
}

.amount-to-pay-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}

.amount-pay {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.text-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.alert-date {
  color: #f52245;
}

.text-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #505050;
}

.amount-button {
  border: 1px solid #505050;
  flex-basis: 50%;
  height: 30px;
  padding: 6px 8px 6px 12px;
  border-radius: 2px;
}

.paid-button {
  border: none;
  background: #f0f0f0;
  flex-basis: 50%;
  height: 30px;
  padding: 6px 8px 6px 12px;
  border-radius: 2px;
}

.update-wrapper {
  background: #f0f0ff;
  height: 194px;
  border-radius: 8px;
  padding: 16px;
}

.update-inner {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: relative;
}

.update-text-inner {
  display: flex;
  flex-direction: column;
}
.update-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
}

.update-taxes-link {
  //styleName: Text-M-reg;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #6159ff;
}

.declaration-wrapper {
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  gap: 8px;
  display: flex;
  background-color: #f0f0ff;
}

.declaration-text {
  color: #6159ff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.date-title-overdue {
  display: flex;
  gap: 4px;
}

.warning-overdue {
  background-color: #fff0f3;
  padding: 0 8px;
}

.download-button {
  padding: 4px;
  height: auto;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-banner {
  margin-top: 8px;
  border: none;
  position: absolute;
  top: -10px;
  right: -10px;
  background: inherit;
}

.sider-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
