@import "../../ui-kit/theme/colors.scss";

$mobile: 320px;
$tablet: 768px;
$s: 1024px;
$m: 1280px;
$l: 1440px;
$xl: 1920px;
$xxl: 2560px;

.content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $m) {
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
}

.register-block-wrapper {
  display: flex;
  column-gap: 20px;

  justify-content: center;
  align-items: center;

  @media screen and (min-width: $m) {
    width: 37.4%;
  }
  @media screen and (min-width: $xl) {
    width: 44%;
  }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 24px;

  padding: 0 14px;

  @media screen and (min-width: $s) {
    padding: auto;
    max-width: 348px;
  }
}

.inputs-window {
  display: flex;
  flex-direction: column;
}

.input-item-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.input-item {
  border-radius: 2px;
}

.button-item {
  margin-top: 24px;
}

.links-wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $m) {
    width: 62.6%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: $brand-secondary-pale;
  }

  @media screen and (min-width: $xl) {
    width: 56%;
  }
}

.heading-text {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: $brand-primary;

  @media screen and (min-width: $s) {
    font-size: 42px;
    line-height: 50px;
  }
}

.error-text {
  font-size: 10px;
  line-height: 18px;
  color: $red-primary;
  font-weight: 600;
}

.input-title {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.link-text {
  font-family: "Inter";
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

.remember-wrapper {
  display: flex;
  gap: 8px;
}

.checkbox-style {
  width: 22px;
  height: 22px;
}

.checkbox-style .ant-checkbox-checked .ant-checkbox-inner::after {
  width: 4.87px;
  height: 12.09px;
  border: 1px solid #fff !important;
}

.image-register {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 97px;
  height: 107px;

  @media screen and (min-width: $s) {
    margin-top: 92px;
    margin-bottom: 108px;
    width: 320px;
    height: 355px;
  }

  @media screen and (min-width: $m) {
    margin: 0;
    width: 435px;
    height: 482px;
  }
  @media screen and (min-width: $xl) {
    width: 574px;
    height: 636px;
  }
}

.logo-item {
  @media screen and (min-width: $m) {
    margin-top: 32px;
  }
  @media screen and (min-width: $xl) {
    margin-top: 70px;
  }
}

.default-input {
  height: 34px;
  padding: 6px 12px;
  display: flex;
  width: 100%;
  border-radius: 4px;
  color: $base-primary-dark;
  font-family: "Inter" !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid $base-secondary-2;
  background-color: #fff !important;

  &::placeholder {
    font-family: "Inter" !important;
    color: $base-secondary-1;
  }

  &:disabled {
    background-color: $base-secondary-pale !important;
    border: 1px solid $base-secondary-2;

    &:hover,
    &:focus {
      background-color: $base-secondary-pale !important;
      border: 1px solid $base-secondary-2;
    }
  }

  &:hover {
    border: 1px solid $base-secondary-1 !important;
  }

  &:focus {
    border: 1px solid $brand-primary !important;
    box-shadow: 0px 0px 0px 2px #f0f0ff;
  }

  &:focus-within {
    border: 1px solid $brand-primary !important;
    box-shadow: 0px 0px 0px 2px #f0f0ff;
  }

  &:active {
    border: 1px solid $brand-primary !important;
    box-shadow: 0px 0px 0px 2px #f0f0ff;

    &:hover {
      border: 1px solid $brand-primary !important;
    }
  }
}

.default-input > input::placeholder {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: $base-secondary-1;
}

.default-input > input {
  background: #fff !important;
}

.default-input > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.default-input > input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.default-input > input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
