$mobile: 320px;
$tablet: 768px;
$s: 1024px;
$m: 1280px;
$l: 1440px;
$xl: 1920px;
$xxl: 2560px;

.content-wrapper {
  width: 100%;
  display: flex;
  padding: 28px 20px 20px 20px;
  justify-content: center;

  @media screen and (min-width: $s) {
    padding: 28px 20px 20px 60px;
  }
}

.register-block-wrapper {
  display: flex;
  column-gap: 20px;
  flex-direction: column;

  @media screen and (min-width: $s) {
    column-gap: 40px;
    flex-direction: row;
    width: 100%;
    padding: 0 100px;
    justify-content: space-between;
  }

  @media screen and (min-width: $l) {
    justify-content: center;
  }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  max-width: 340px;

  @media screen and (min-width: $s) {
    margin: 40px 0;
    min-width: 250px;
    max-width: 360px;
    gap: 44px;
  }
}

.inputs-window {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-item-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.input-item {
  border-radius: 2px;
}

.button-item {
  border-radius: 4px;
  background: #6159ff;
  color: #fff;
  height: 40px;
}

.links-wrapper {
  display: flex;
  gap: 24px;
}

.img-wrapper {
  margin-top: 50px;
  height: 200px;
  width: 200px;

  @media screen and (min-width: $tablet) {
    height: 300px;
    width: 300px;
  }

  @media screen and (min-width: $s) {
    width: auto;
    height: auto;
  }
}

.heading-text {
  font-size: 42px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.form-email {
  width: 100%;
  margin-bottom: 0px;
}

.form-password {
  width: 100%;
  margin-bottom: 8px;
}

.error-text {
  font-size: 10px;
  line-height: 10px;
  color: red;

  @media screen and (min-width: $m) {
    font-size: 12px;
    line-height: 16px;
  }
}
