$mobile: 320px;
$tablet: 768px;
$s: 1024px;
$m: 1280px;
$l: 1440px;
$xl: 1920px;
$xxl: 2560px;

.content-wrapper {
  width: 100%;
  display: flex;
  padding: 8px 4px;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    padding: 28px 20px 20px 60px;
  }
}

.register-block-wrapper {
  display: flex;
  column-gap: 20px;
  flex-direction: column;
  max-width: 440px;
  padding: 0 20px;

  @media screen and (min-width: $s) {
    column-gap: 40px;
    flex-direction: row;
    width: 100%;
    padding: 0 80px 0px 40px;
    max-width: 100%;
    justify-content: space-between;
  }

  @media screen and (min-width: $l) {
    justify-content: center;
  }
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  max-width: 340px;

  @media screen and (min-width: $s) {
    margin: 40px 0;
    min-width: 250px;
    max-width: 440px;
    gap: 32px;
  }
}

.inputs-window {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-item-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.input-item {
  border-radius: 2px;
  height: 40px;
}

.input-item-inn {
  border-radius: 2px;
  height: 40px;
}

.form-inn {
  width: 100%;
}

.error-mail-text {
  font-size: 12px;
  line-height: 14px;
  color: red;

  @media screen and (min-width: $m) {
    font-size: 16px;
    line-height: 20px;
  }
}

.error-text {
  font-size: 8px;
  line-height: 8px;
  color: red;

  @media screen and (min-width: $m) {
    font-size: 12px;
    line-height: 16px;
  }
}

.button-item {
  border-radius: 4px;
  background: #6159ff;
  color: #fff;
  height: 40px;
  margin: 32px 0 16px 0;
}

.button-item-check {
  border-radius: 4px;
  background: transparent;
  color: #9984ff;
  height: 40px;
  width: 136px;
}
.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stepper-inner {
  width: auto;
  margin-top: 40px;

  @media screen and (min-width: $tablet) {
    height: 200px;
    width: 320px;
    font-size: 16px;
  }
}
.stepper-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 30px;
  height: 100%;
}

.button-back {
  border-radius: 4px;
  background: #fff;
  color: #6159ff;
  height: 40px;
  margin: 32px 0 16px 0;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-one {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button-item-wide {
  border-radius: 4px;
  background: #6159ff;
  color: #fff;
  height: 40px;
  margin: 32px 0 16px 0;
  width: 351px;
}

.button-item-enter {
  border-radius: 4px;
  background: #6159ff;
  color: #fff;
  height: 40px;
  margin: 32px 0 16px 0;
  width: 100%;
}

.inn-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 84px;
  justify-content: space-between;
}

.oferta-text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
  color: #505050;
}

.text-row {
  display: flex;
  gap: 40px;
}

.rate-wrapper {
  display: flex;
}

.loader-wrapper {
  margin: 20px auto;
}

.slider-style {
  width: 100%;
}

.checkbox-style {
  text-wrap: nowrap;
  align-items: center;
}

.select-row {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.row-left {
  width: 150px;
}

.row-right {
  display: flex;
  align-items: flex-start;
}
